### Project Name : MoreMoviesLikeThis
# Movie Recommendation System

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import ast
from nltk.corpus import stopwords as sw
from pprint import pprint
from nltk.stem import PorterStemmer

# Examples check --
print("Numpy version:", np.__version__)
print("Pandas version:", pd.__version__)
print("Stopwords example:", sw.words('english')[:10])

ps = PorterStemmer()
print("Stem example:", ps.stem("running"))

Numpy version: 1.26.4
Pandas version: 2.2.1
Stopwords example: ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]
Stem example: run

### Fetching data into PANDAS Dataframe

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
print(movies['title'][230])    
movies['tagline'][230]

Star Wars: Episode II - Attack of the Clones

'A Jedi Shall Not Know Anger. Nor Hatred. Nor Love.'

In [6]:
 pprint(credits['cast'][0])

('[{"cast_id": 242, "character": "Jake Sully", "credit_id": '
 '"5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam '
 'Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", '
 '"credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": '
 '"Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace '
 'Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": '
 '10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": '
 '"Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": '
 '32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": '
 '"Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": '
 '17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, '
 '"character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": '
 '2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, '
 '"character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", '
 '"gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, '
 '{"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", '
 '"gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": '
 '11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", '
 '"gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, '
 '"character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": '
 '2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, '
 '"character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", '
 '"gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": '
 '13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", '
 '"gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": '
 '32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", '
 '"gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, '
 '{"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": '
 '"52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason '
 'Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew '
 'Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, '
 '"name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock '
 'Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": '
 '986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": '
 '"Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": '
 '1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, '
 '"character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", '
 '"gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, '
 '{"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": '
 '"52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter '
 'Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / '
 'Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, '
 '"name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon '
 'Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": '
 '173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, '
 '"character": "Dragon Gunship Gunner", "credit_id": '
 '"52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van '
 'Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship '
 'Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": '
 '215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": '
 '"Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": '
 '143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, '
 '"character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": '
 '2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, '
 '"character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", '
 '"gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": '
 '47, "character": "Ambient Room Tech / Troupe", "credit_id": '
 '"52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody '
 'Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", '
 '"credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": '
 '"Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", '
 '"credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": '
 '"Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / '
 'Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": '
 '1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, '
 '"character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", '
 '"gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": '
 '52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", '
 '"gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": '
 '53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", '
 '"gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, '
 '{"cast_id": 54, "character": "Troupe", "credit_id": '
 '"52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra '
 'Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": '
 '"52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris '
 'Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": '
 '"52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor '
 'Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": '
 '"52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie '
 'Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": '
 '"52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie '
 'Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": '
 '"52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. '
 'Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": '
 '"52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph '
 'Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", '
 '"credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": '
 '"Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", '
 '"credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": '
 '"Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", '
 '"credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": '
 '"Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", '
 '"credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": '
 '"Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op '
 'Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": '
 '1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": '
 '"Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, '
 '"id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, '
 '"character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", '
 '"gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": '
 '68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", '
 '"gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, '
 '{"cast_id": 69, "character": "Op Center Staff", "credit_id": '
 '"52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul '
 'Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", '
 '"credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": '
 '"Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", '
 '"credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": '
 '"James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", '
 '"credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": '
 '"Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": '
 '"Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": '
 '1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, '
 '"character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, '
 '"id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, '
 '"character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, '
 '"id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, '
 '"character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, '
 '"id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, '
 '"character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, '
 '"id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, '
 '"character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, '
 '"id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, '
 '"character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, '
 '"id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, '
 '"character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, '
 '"id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, '
 '"character": "Mining Chief (uncredited)", "credit_id": '
 '"52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin '
 'Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner '
 '(uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": '
 '107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": '
 '"Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": '
 '0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, '
 '"character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", '
 '"gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, '
 '{"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": '
 '"52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie '
 'Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper '
 '(uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": '
 '1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": '
 '"Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", '
 '"gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, '
 '{"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", '
 '"credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": '
 '"Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", '
 '"credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": '
 '"Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper '
 '(uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": '
 '1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, '
 '"character": "Banshee (uncredited)", "credit_id": '
 '"52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry '
 'Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", '
 '"credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": '
 '"Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician '
 '(uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": '
 '1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": '
 '"Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", '
 '"gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, '
 '{"cast_id": 94, "character": "Hero (uncredited)", "credit_id": '
 '"52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", '
 '"order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", '
 '"credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": '
 '"Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer '
 '(uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": '
 '1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": '
 '"Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": '
 '"52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", '
 '"order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", '
 '"credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": '
 '"Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan '
 'Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, '
 '"id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, '
 '"character": "Geologist (uncredited)", "credit_id": '
 '"52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard '
 'Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi '
 '(uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": '
 '103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": '
 '"Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", '
 '"gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]')

In [7]:
# importing stopwords from nltk.corpus
swords = sw.words('english')

In [8]:
data = movies.merge(credits, on='title')       # merging two Dataframes

In [9]:
data = data.drop(['budget', 'homepage', 'original_language', 'original_title', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count', 'movie_id'], axis=1)

In [10]:
data.shape

(4809, 7)

In [11]:
data.columns

Index(['genres', 'id', 'keywords', 'overview', 'title', 'cast', 'crew'], dtype='object')

In [12]:
data.isnull().sum()

genres      0
id          0
keywords    0
overview    3
title       0
cast        0
crew        0
dtype: int64

In [13]:
data.dropna(inplace=True)

In [14]:
data.duplicated().sum()

0

## DEFINING IMPORTANT FUNCTIONS

In [15]:
def change(obj):
    lst = []
    for i in ast.literal_eval(obj):
        lst.append(i['name']) 
    for i in lst:
        if i == 'Science Fiction':
            lst.remove('Science Fiction')
            lst.append('SciFi')
    return lst

In [16]:
def changeforCast(obj):
    lst = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            lst.append(i['name']) 
            counter += 1
        else:
            break
    return lst

In [17]:
def changeforCrew(obj):
    lst = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            lst.append(i['name'])
            break
    return lst

In [18]:
def removeSpace(obj):
    lst = []
    for i in obj:
        i = i.replace(" ", "")
        lst.append(i)
    return lst

In [19]:
def stemm(obj):
    lst = []
    for i in obj.split():
        lst.append(ps.stem(i))
    return ' '.join(lst)

### Using functions on desired Columns/Features of Dataframe

In [20]:
data['genres'] = data['genres'].apply(change)                      # applying change function
data['keywords'] = data['keywords'].apply(change)                  # applying change function
data['cast'] = data['cast'].apply(changeforCast)                   # applying changeforCast function
data['crew'] = data['crew'].apply(changeforCrew)                   # applying changeforCrew function
data['overview'] = data['overview'].apply(lambda x: x.split())     # applying string to list to each field of Overview

In [21]:
data['genres'] = data['genres'].apply(removeSpace)                 # applying removeSpace function
data['keywords'] = data['keywords'].apply(removeSpace)             # applying removeSpace function
data['cast'] = data['cast'].apply(removeSpace)                     # applying removeSpace function
data['crew'] = data['crew'].apply(removeSpace)                     # applying removeSpace function

### Making new "tag" column in Dataframe

In [22]:
data['tag'] = data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']

### Removing Unwanted Columns

In [23]:
data = data.drop(['overview', 'genres', 'keywords', 'cast', 'crew'], axis = 1)

In [24]:
data['tag'] = data['tag'].apply(lambda x: ' '.join(x))

In [25]:
data.head()

,id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

## Data Modification

In [26]:
data['tag'] = data['tag'].apply(lambda x: ' '.join(word for word in x.split() if word not in swords))

In [27]:
ps = PorterStemmer()

In [28]:
data['tag'] = data['tag'].apply(stemm)

## Vectorization

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5500, stop_words='english')

In [30]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\lenovo\anaconda3\envs\myenv\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\lenovo\anaconda3\envs\myenv\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\lenovo\anaconda3\envs\myenv\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lenovo\anaconda3\envs\myenv\lib\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lenovo\anaconda3\envs\myenv\lib\site-packages (from scikit-learn) (3.5.0)

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5500, stop_words='english')

In [32]:
vectors = cv.fit_transform(data['tag']).toarray()

In [33]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

## Calculating similarity of each movie with other movies

In [34]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

### Defining the Target Function

In [35]:
def recommend(movie):
    index = 0
    top5_movies = []
    movie_index = data[data['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[movie_index])), reverse=True, key=lambda x: x[1])[0:10]
    for i, j in distances:
        top5_movies.append(data.iloc[i].title)
    return top5_movies

## Hindi Movies Dataset and Model Building

## Generating Pickle files

In [36]:
import pickle

In [37]:
pickle.dump(data, open('movies.pkl', 'wb'))                     # For English Movies
pickle.dump(similarity, open('similarity.pkl', 'wb'))

# RESULT

In [38]:
recommend('Avatar')

['Avatar',
 'Aliens',
 'Aliens vs Predator: Requiem',
 'Falcon Rising',
 'Independence Day',
 'Titan A.E.',
 'Battle: Los Angeles',
 'Predators',
 'U.F.O.',
 'Small Soldiers']

In [40]:
recommend('Predators')

['Predators',
 'Aliens vs Predator: Requiem',
 'Meet Dave',
 'Riddick',
 'Star Trek: Insurrection',
 'Aliens',
 'Avatar',
 'Predator',
 'Escape from Planet Earth',
 'Battleship']

In [41]:
recommend('Aliens vs Predator: Requiem')

['Aliens vs Predator: Requiem',
 'Independence Daysaster',
 'Slither',
 'Edge of Tomorrow',
 'Aliens in the Attic',
 'AVP: Alien vs. Predator',
 'Meet Dave',
 'Predators',
 'The Thing',
 'Independence Day']